In [1]:
import pandas as pd
from sklearn.model_selection import StratifiedKFold

In [2]:
#index number confusion??? stratifiedkfold selects from ...

df_feature_1_target_1 = pd.DataFrame({'column1':[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'column2':[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]})
df_feature_1_target_1

   column1  column2
0        1        0
1        2        0
2        3        0
3        4        0
4        5        0
5        6        1
6        7        1
7        8        1
8        9        1
9       10        1

In [3]:
df_feature_1_target_1_shuffle = df_feature_1_target_1.sample(frac=1)
df_feature_1_target_1_shuffle

   column1  column2
6        7        1
7        8        1
0        1        0
2        3        0
3        4        0
1        2        0
9       10        1
8        9        1
4        5        0
5        6        1

In [4]:
StratifiedKFold_5_splits = StratifiedKFold(n_splits=5, random_state=None, shuffle=False)
    
for index, (train_index, test_index) in enumerate(StratifiedKFold_5_splits.split(df_feature_1_target_1_shuffle.loc[:, 'column1'], df_feature_1_target_1_shuffle.loc[:, 'column2'])):
    print(index)
    print('train_index: '+ str(train_index))
    print('test_index: '+ str(test_index))

0
train_index: [1 3 4 5 6 7 8 9]
test_index: [0 2]
1
train_index: [0 2 4 5 6 7 8 9]
test_index: [1 3]
2
train_index: [0 1 2 3 5 7 8 9]
test_index: [4 6]
3
train_index: [0 1 2 3 4 6 8 9]
test_index: [5 7]
4
train_index: [0 1 2 3 4 5 6 7]
test_index: [8 9]

In [5]:
for index, (train_index, test_index) in enumerate(StratifiedKFold_5_splits.split(df_feature_1_target_1.loc[:, 'column1'], df_feature_1_target_1.loc[:, 'column2'])):
    print(index)
    print('train_index: '+ str(train_index))
    print('test_index: '+ str(test_index))

0
train_index: [1 2 3 4 6 7 8 9]
test_index: [0 5]
1
train_index: [0 2 3 4 5 7 8 9]
test_index: [1 6]
2
train_index: [0 1 3 4 5 6 8 9]
test_index: [2 7]
3
train_index: [0 1 2 4 5 6 7 9]
test_index: [3 8]
4
train_index: [0 1 2 3 5 6 7 8]
test_index: [4 9]